.category-menu {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  justify-content: center;
}

.cloth {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1rem;
  background-color: rgb(217, 217, 217);
  border-radius: 0.5rem;
  justify-content: center;
  border: none;
  cursor: pointer;
  height: 3rem;
  width: 8rem;
}

.cloth:hover{
    background-color: rgb(255, 217, 0);
    transition: 0.25s;
}
